<header class="navbar navbar-inverse">
	<div class="container">
		<%= link_to Aberrant, root_url, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Characters", characters_path %></li>
				<li><%= link_to "Organizations", organizations_path %></li>
				<li><%= link_to "Powers", powers_path %></li>
			</ul>
		</nav>
	</div>
</header>